[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
python-dotenv = "*"
pyaudio = "*"
speechrecognition = "*"
elevenlabs = "*"
gtts = "*"
pydub = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.13"
